
/*Setup*/
@font-face {
font-family: "Arnhem Bold";
src: url("fonts/ArnhemBold");
src: url("fonts/ArnhemBold") format("ttf"),
}
body {
	background-color: #F9F4F4;
    font-family: "Merriweather";
    margin-top: 40px;
    color: #333;
}
main {
    margin-top: 24px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
.cursiva {
    font-family: 'Marck Script', cursive;
}
h1, h2, h3, h4, h5, h6, li {
    font-family: "Lato";
    color: #40434A;
}
h1, h2 {
    color: #606470;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 14px;
    line-height: 1.8;
}



.lato {
    font-family: "Lato";
}

.photo {
    border-radius: 50%;
    border: 1px solid #545454;
}

/*navbar*/
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
}
#nav {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #40434A;
    font-style: bold;
    font-family: "Lato";
    z-index: 1;
        margin-bottom: 48px;-webkit-box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.15);
    box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.15);
    height: 40px;

}
.dvojbodka {
    font-size: 20px;
    color: #E2474C;
    font-weight: 800;
    line-height: 12px;
}
.dvojbodka-svg {
    padding-bottom: 2px;
    width: 3px;
    display: inline-block;
}
a {
    color: #F9F4F4;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    height: 100%;
    font-size: 0;
}

.navbar-inner a {
    position: relative;
    font-size: 16px;
    display: inline-block;
    color: #F9F4F4;
}
.navbar-inner a.active {
    border-bottom: 2px solid #E2474C;
} 
.navbar-inner a:hover {
    border-bottom: 2px solid #E2474C;
    color: #F9F4F4;
    -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

/*Intro-home page*/
.intro {
    height: 400px; 
    position: relative;
    display: block;
    height: auto;
}
.intro h6 {
    color: #606470;
}


/*Card project*/
.card-project {
    padding: 24px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 48px;
    -webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
}
.card-project h4 {
    color: #40434A;

}
.btn {
    background-color: #F3F3F3;
    border: 1px solid #D8D5D8;
    font-family: "Lato";
    color: #40434A;
    font-size: 12px;
}

.btn:hover {
    background-color: #606470;
    border: 1px solid #606470;
    font-family: "Lato";
    color: #F9F4F4;
    font-size: 12px;   
}
.dark {
    background-color: #606470;
    border: 1px solid #606470;
    font-family: "Lato";
    color: #F9F4F4;
    font-size: 12px;      
}
.dark:hover {
    background-color: #F3F3F3;
    border: 1px solid #D8D5D8;
    font-family: "Lato";
    color: #40434A;
    font-size: 12px;   
}
.img-thumbnail {
    max-height: 100%;
    width: 100%;
}
.img-responsive {
    width: 100%;
}
.skills {
    font-family: "Lato";
    display: inline-block;
    padding-right: 1em;
    font-size: 14px;
}

.card-project-detail {
    padding: 24px;
    max-height: auto;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 48px;-webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
}


.card-resume {
     padding: 24px;
    height: auto;   
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 48px;-webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);

}
.logo {

}
.heading {
    background-color: #40434A;
    color: #F9F4F4;
    font-family: "Lato";
    margin: -24px -24px 0 -24px;
    padding: 12px;
}
.divider {
    display: block;
    height: 1px;
    background-color: #F3F3F3;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
}
.caption {
    font-style: italic;
    font-size: .7rem;
}
.greetings{
    background-color: #40434A;
    color: #F9F4F4;
    padding: 24px;
    max-height: auto;
    overflow: hidden;
    width: 100%;
    margin-bottom: 48px;-webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    }

.shadow {
    margin-bottom: 48px;-webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
}

.greetings h2{
    color: #F9F4F4;
}
.greetings p {
    color: #F9F4F4;   
}
.greetings h6 {
    color: #F9F4F4;   
}
.greetings .divider {
        background-color: #4A4A4A;

}
.img-rounded {
    border-radius: 50%;
}
.network a {
    color: inherit;
}
.time-company {
    font-family: "Lato";
    font-size: 14px;
    color: #606470;
    font-weight: 300;
    margin-right: 12px;
}
.time-company a {
    color: inherit;
    text-decoration: underline;
}
.time-company h6 {
    display: inline-block;
}
p a {
    color: inherit;
    text-decoration: underline;   
}
.contact {
    padding: 24px;
    max-height: 350px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 48px;-webkit-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
}
.contact a {
    color: #606470;
}
.social-icons {
    width: 7%;
}
iframe:hover {

}
.shadow {
 -moz-box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.15);   
}
