
/*Setup*/
@font-face {
font-family: "Arnhem Bold";
src: url("fonts/ArnhemBold");
src: 
url("fonts/ArnhemBold") format("ttf"),
}
body {
	background-color: #F2F4F4;
    font-family: "Arnhem Bold";
    margin-top: 40px;
}
main {
    margin-top: 48px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
.cursiva {
    font-family: 'Marck Script', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
}

/*navbar*/
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FEF8F2;
}
#nav {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #B4E2E6;
    font-family: "Lato";
    z-index: 1;
}
a {
    color: #303033;
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

/*Intro-home page*/
.intro {
    height: 400px; 
    border: 1px solid grey;
    display: block;

}

/*Card project*/
.card-project {
    border: 1px solid grey;
    padding: 24px;
    max-height: 250px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 48px;
}
.img-thumbnail {
    max-height: 100%;
    width: 100%;

}
